<div class="container">
<div class="row">
    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Weather Widget</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49" *ngIf="data !== undefined">
                    <div>
                        <div>
                            <span>{{ data.location.name }}</span>
                            <br />
                            <span>{{ data.location.localtime }}</span>
                        </div>
                    </div>
                    <ul>
                        <li><span>Time Zone: {{ data.location.tz_id }}</span></li>
                        <li><span>Condition: {{ data.current.condition.text }}</span></li>
                        <li><span>Temperature: {{ data.current.temp_f }}</span></li>
                        <li><span>Feels Like: {{ data.current.feelslike_f }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>