<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a *ngIf="!loggedInUser" class="navbar-brand" routerLink="">
            <!-- <img src="" style="height: 2.5em; padding: .5em;"> -->
            LOGO
        </a>
        <a *ngIf="loggedInUser" class="navbar-brand" routerLink="/user-home">
            <!-- <img src="" style="height: 2.5em; padding: .5em;"> -->
            LOGO
        </a>
        <ul *ngIf="loggedInUser" class="navbar-nav me-auto" id="nav-left">
            <li *ngIf="loggedInUser.role === 1" class="nav-item">
                <a class="nav-link" routerLink="users">Users</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right" id="nav-right">
            <li *ngIf="!loggedInUser" class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li *ngIf="!loggedInUser" class="nav-item">
                <a class="nav-link" routerLink="sign-up">Sign Up</a>
            </li>
            <li *ngIf="loggedInUser" class="nav-item">
                <a class="nav-link" >{{loggedInUser.username}}</a>
            </li>
            <li *ngIf="loggedInUser" class="nav-item">
                <a class="nav-link clickable" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>