<nav class="navbar sticky-top navbar-expand-lg " style="background-color: #e3f2fd;">
    <div class="container">
        <a *ngIf="!loggedInUser" class="navbar-brand" routerLink="">
            <img src="/assets/brand/LogoBubble.jpg" style="height: 2.5em; padding: .2em;">
            Talks Rain or Shine
        </a>
        <a *ngIf="loggedInUser" class="navbar-brand" routerLink="/user-home">
            <img src="/assets/brand/LogoBubble.jpg" style="height: 2.5em; padding: .5em;">
            Talks Rain or Shine
        </a>
        <ul *ngIf="loggedInUser" class="navbar-nav me-auto" id="nav-left">
            <li *ngIf="loggedInUser.role === 1" class="nav-item">
                <button class="btn btn-outline-secondary btn-space" type="button" routerLink="users" style="height: 5em; padding: 1em">Users</button>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right" id="nav-right">
            <li *ngIf="!loggedInUser" class="nav-item">
                <a class="nav-link btn btn-outline-secondary btn-space" routerLink="login">Login</a>
            </li>
            <li *ngIf="!loggedInUser" class="nav-item">
                <a class="nav-link btn btn-outline-secondary btn-space" routerLink="sign-up">Sign Up</a>
            </li>
            <li *ngIf="loggedInUser" class="nav-item">
                <a class="nav-link clickable" (click)="redirectUserProfile(loggedInUser)">{{loggedInUser.username}}</a>
            </li>
            <li *ngIf="loggedInUser" class="nav-item">
                <a class="nav-link clickable" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>