<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- TO-DO: Add logo image that navigates to home page -->
        <a class="navbar-brand" routerLink="">
            <img src="" style="height: 2.5em; padding: .5em;">
        </a>
        <ul class="navbar-nav navbar-right" id="nav-right">
            <li *ngIf="!loggedInUser" class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li *ngIf="!loggedInUser" class="nav-item">
                <a class="nav-link" routerLink="sign-up">Sign Up</a>
            </li>
            <li *ngIf="loggedInUser" class="nav-item">
                <a class="nav-link" >{{loggedInUser.username}}</a>
            </li>
            <li *ngIf="loggedInUser" class="nav-item">
                <a class="nav-link clickable" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>