<div class="row justify-content-center align-items-center h-100 ">
  <h2 style="text-align:center;"> Checkout some blogs!</h2>
  <div class="col-12 col-lg-9 col-xl-7">
    <div class="card-body p-2 p-md-2 gradient-custom rounded mx-auto d-block shadow-lg p-3 mb-5 bg-white rounded"
      style="border-radius: 15px;">
      <div class="card gradient-custom-blog rounded mx-auto shadow-lg p-3 mb-5 bg-white rounded"
        *ngFor="let blog of blogs">
        <p>{{ blog.userId }}</p>
        <p>{{ blog.body }}
        <p>
        <p>{{ blog.timeShow }}</p>
        <p *ngIf="loggedInUser.role === 1" (click)="deleteBlog(blog.id)"><i class="fa-solid fa-trash-can"></i></p>
        <p *ngIf="loggedInUser.id === blog.userId" (click)="redirectEditForm(blog)"><i class="fa-solid fa-pencil"></i>
        </p>
        <p *ngIf="loggedInUser.id === blog.userId" (click)="deleteBlog(blog.id)"><i class="fa-solid fa-trash-can"></i>
        </p>
      </div>
    </div>
  </div>
</div>