<br>
<main class="container-fluid mx-auto " style="padding: 0 7.5em;">
    <div class="col-12 col-lg-9 col-xl-7">
        <div class="card-body p-2 p-md-2 gradient-custom rounded mx-auto d-block shadow-lg p-3 mb-5 bg-white rounded"
            style="border-radius: 15px; text-align:center; ">
            <div class="container align-content-center container py-5 h-100" id="loginForm">
                <form style="padding-top: 2.5em;">
                    <div id="bottomBorder" class="d-flex justify-content-center">
                        <h1 class="mb-4 pb-2 pb-md-0 mb-md-5">Login</h1>
                    </div>

                    <br>
                    <div class="d-flex justify-content-center">
                        <label>Username:</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input class="inputstyle" type="text" name="username" id="username" [(ngModel)]="usernameInput">
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <label>Password:</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input class="inputstyle" type="password" name="password" id="password"
                            [(ngModel)]="passwordInput">
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-outline-secondary" value="Login" id="submitButton" (click)="login()">
                    </div>
                    <br>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div style="color:red;" id="error-div">{{errorMessage}}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>