
<h2> All Blogs</h2>
<div class="card my-6">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">BlogID</th>
            <th scope="col">Body</th>
            <th scope="col">Username</th>
            <th scope="col">PostedDate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blog of blogs">
            <td>{{ blog.id }}</td>
            <td>{{ blog.body }}</td>
            <td>{{ blog.userId }}</td>
            <td>{{ blog.timeCreated}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

